<div class="max-w-md justify-center items-center h-full mx-auto">
  <%= form_with model: task, local: true, class: "w-full bg-white p-6 rounded-lg shadow-md" do |f| %>
    <div class="mb-3">
      <%= f.label :title, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :title, id: "task_title", class: "bg-gray-50 border-b border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
      <% if task.errors.has_key?(:title) %>
        <p class="text-sm text-red-600"><%= task.errors.full_messages_for(:title).first %></p>
      <% end %>
    </div>
    <div class="mb-3">
      <%= f.label :content, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_area :content, id: "task_content", class: "form-textarea mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500" %>
      <% if task.errors.has_key?(:content) %>
        <p class="text-sm text-red-600"><%= task.errors.full_messages_for(:content).first %></p>
      <% end %>
    </div>
    <div class="mb-3">
      <%= f.label :start_time, class: "block text-sm font-medium text-gray-700" %>
      <%= f.datetime_field :start_time, id: "task_start_time", class: "form-input mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500" %>
      <% if task.errors.has_key?(:start_time) %>
        <p class="text-sm text-red-600"><%= task.errors.full_messages_for(:start_time).first %></p>
      <% end %>
    </div>
    <div class="mb-3">
      <%= f.label :end_time, class: "block text-sm font-medium text-gray-700" %>
      <%= f.datetime_field :end_time, id: "task_end_time", class: "form-input mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500" %>
      <% if task.errors.has_key?(:end_time) %>
        <p class="text-sm text-red-600"><%= task.errors.full_messages_for(:end_time).first %></p>
      <% end %>
    </div>
    <div class="mb-3">
      <%= f.label :status, class: "block text-sm font-medium text-gray-700" %>
      <%= f.select :status, enum_options_i18n(:statuses), { prompt: "Select status" }, class: "form-select mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500" %>
      <% if task.errors.has_key?(:status) %>
        <p class="text-sm text-red-600"><%= task.errors.full_messages_for(:status).first %></p>
      <% end %>
    </div>
    <div class="mb-3">
      <%= f.label :priority, class: "block text-sm font-medium text-gray-700" %>
      <%= f.select :priority, enum_options_i18n(:priorities), { prompt: "Select priority" }, class: "form-select mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500" %>
      <% if task.errors.has_key?(:priority) %>
        <p class="text-sm text-red-600"><%= task.errors.full_messages_for(:priority).first %></p>
      <% end %>
    </div>
    <div class="mb-3">
      <%= f.label :tag_ids, class: "block text-sm font-medium text-gray-700" %>
      <%= f.select :tag_ids, options_from_collection_for_select(Tag.all, :id, :name, task.tag_ids), { prompt: "" }, multiple: true, class: "form-select mt-1 block w-full rounded-md focus:ring-blue-500 focus:border-blue-500" %>
      <% if task.errors.has_key?(:tag_ids) %>
        <p class="text-sm text-red-600"><%= task.errors.full_messages_for(:tag_ids).first %></p>
      <% end %>
    </div>
    <div class="mb-3">
      <%= f.label :new_tags, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :new_tags, id: "task_new_tags", placeholder: "新增標籤, 如需創建多個請用,分開", class: "bg-gray-50 border-b border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
      <% if task.errors.has_key?(:new_tags) %>
        <p class="text-sm text-red-600"><%= task.errors.full_messages_for(:new_tags).first %></p>
      <% end %>
    </div>
    <div class="flex justify-between mb-3">
      <%= link_to t('tasks.new.back'), tasks_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5" %>
      <%= f.submit t('tasks.index.confirm'), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5" %>
    </div>
  <% end %>
</div>
