<nav class="bg-blue-500 shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex-shrink-0 flex items-center">
        <%= link_to "Melanie 的 Task Board", root_path, class: "text-lg font-bold text-gray-200" %>
      </div>
      <div class="hidden sm:flex sm:items-center sm:space-x-4">
        <% if @current_user %>
          <span class="text-gray-200 hover:text-white px-3 py-2 rounded-md text-base font-medium">
            <%= "歡迎登入  #{@current_user.name}" %>
          </span>
          <% if Current.user.admin? %>
            <%= link_to t('admin.users.new.users_manage'), admin_users_path, class: "text-gray-200 hover:text-white px-3 py-2 rounded-md text-base font-medium" %>
          <% end %>
          <%= button_to t('sessions.new.log_out'), log_out_path, method: :delete, class: "text-gray-200 hover:text-white px-3 py-2 rounded-md text-base font-medium" %>
        <% else %>
          <%= link_to t('sessions.new.log_in'), log_in_path, class: "text-gray-200 hover:text-white px-3 py-2 rounded-md text-base font-medium" %>
          <%= link_to t('registrations.new.sign_up'), sign_up_path, class: "text-gray-200 hover:text-white px-3 py-2 rounded-md text-base font-medium" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
