<div class="page-container w-full mx-auto px-4">
  <h1 class="tasks-page-title text-2xl font-bold mb-4"><%= t('admin.users.new.tasks_page') %></h1>

  <table class="task-table w-full">
    <thead class="task-table-header bg-gray-200">
      <tr>
        <th class="task-table-cell px-4 py-2 border"><%= Task.human_attribute_name :title %></th>
        <th class="task-table-cell px-4 py-2 border"><%= Task.human_attribute_name :status %></th>
        <th class="task-table-cell px-4 py-2 border"><%= Task.human_attribute_name :priority %></th>
        <th class="task-table-cell px-4 py-2 border"><%= Task.human_attribute_name :start_time %></th>
        <th class="task-table-cell px-4 py-2 border"><%= Task.human_attribute_name :end_time %></th>
        <th class="task-table-cell px-4 py-2 border"><%= Task.human_attribute_name :tag %></th>
        <th class="task-table-cell px-4 py-2 border"><%= Task.human_attribute_name :content %></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr class="task-row border-b border-gray-300" id="task-row-<%= task.id %>">
          <td class="task-table-cell px-4 py-2 border"><%= task.title %></td>
          <td class="task-table-cell px-4 py-2 border"><%= status_i18n(task.status) %></td>
          <td class="task-table-cell px-4 py-2 border"><%= priority_i18n(task.priority) %></td>
          <td class="task-table-cell px-4 py-2 border"><%= task.start_time %></td>
          <td class="task-table-cell px-4 py-2 border"><%= task.end_time %></td>
          <td class="task-table-cell">
            <% task.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
          <td class="task-table-cell px-4 py-2 border"><%= task.content %></td>
        </tr>
      <% end %>
    </tbody>
    <div class="flex justify-between mb-3">
      <%= link_to t('tasks.new.back'), admin_users_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5" %>
    </div>
  </table>
</div>
